// -------------------------------------------------------------------------- //
// Copyright 2002-2015, OpenNebula Project, OpenNebula Systems                //
//                                                                            //
// Licensed under the Apache License, Version 2.0 (the "License"); you may    //
// not use this file except in compliance with the License. You may obtain    //
// a copy of the License at                                                   //
//                                                                            //
// http://www.apache.org/licenses/LICENSE-2.0                                 //
//                                                                            //
// Unless required by applicable law or agreed to in writing, software        //
// distributed under the License is distributed on an "AS IS" BASIS,          //
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   //
// See the License for the specific language governing permissions and        //
// limitations under the License.                                             //
// -------------------------------------------------------------------------- //

%fieldset
  .control-group
    %label.control-label{'for' => 'name_form'} Name
    .controls
      %input.input-xlarge{'name' => 'name','id' => 'name_form', 'type' => 'text'}
  .control-group
    %label.control-label{'for' => 'short_description_form'} Short Description
    .controls
      %textarea.input-xlarge{'name' => 'short_description', 'id' => 'short_description_form', 'rows' => '3'}
      %p This information will be shown in the list view
  .control-group
    %label.control-label{'for' => 'description_form'} Description
    .controls
      %textarea.input-xlarge{'name' => 'description', 'id' => 'description_form', 'rows' => '8'}
      %p
        This information will be shown in the detailed view
        %br
        Description is parsed with Markdown.
  .control-group
    %label.control-label{'for' => 'version_form'} Version
    .controls
      %input.input-xlarge{'name' => 'version', 'id' => 'version_form', 'type' => 'text'}
      %p Example: 1.0
  .control-group
    %label.control-label{'for' => 'opennebula_version_form'} OpenNebula Version
    .controls
      %input.input-xlarge{'name' => 'opennebula_version', 'id' => 'opennebula_version_form', 'type' => 'text'}
      %p Comma-separated tags. Example: 4.8, 4.10
  .control-group
    %label.control-label{'for' => 'tags_form'} Tags
    .controls
      %input.input-xlarge{'name' => 'tags', 'id' => 'tags_form', 'type' => 'text'}
      %p Comma-separated tags. Example: ubuntu,hpc,mysql
  #file_section
    %hr
    %p
      File 0
    .control-group
      %label.control-label{'for' => 'files.0.name_form'} Name
      .controls
        %input.input-xlarge{'name' => 'files.0.name','id' => 'files.0.name_form', 'type' => 'text'}
    .control-group
      %label.control-label{"for" => "files.0.url_form"} URL
      .controls
        %input.input-xlarge{"name" => "files.0.url", "id" => "files.0.url_form", "type" => "text"}
    .control-group
      %label.control-label{"for" => "files.0.size"} Size
      .controls
        %input.input{"name" => "files.0.size", "id" => "files.0.size_form", "type" => "text"}
        %p Bytes
    .control-group
      %label.control-label{"for" => "files.0.md5"} MD5
      .controls
        %input.input-xlarge{"name" => "files.0.md5", "id" => "files.0.md5_form", "type" => "text"}
    .control-group
      %label.control-label{"for" => "files.0.sha1"} SHA1
      .controls
        %input.input-xlarge{"name" => "files.0.sha1", "id" => "files.0.sha1_form", "type" => "text"}
    .control-group
      %label.control-label{"for" => "files.0.compression"} Compression
      .controls
        %select{"name" => "files.0.compression", "id" => "files.0.compression_form"}
          %option{"value" => ""}
          - AppMarket::Appliance::FILE_SCHEMA[:properties]["compression"][:enum].each do |elem|
            %option= elem
    .control-group
      %label.control-label{"for" => "files.0.driver"} OpenNebula Driver
      .controls
        %input.input-xlarge{"name" => "files.0.driver", "id" => "files.0.driver_form", "type" => "text"}
    .control-group
      %label.control-label{"for" => "files.0.dev_prefix"} OpenNebula Dev Prefix
      .controls
        %input.input-xlarge{"name" => "files.0.dev_prefix", "id" => "files.0.dev_prefix_form", "type" => "text"}
  #more_files
  .control-group
    .controls
    %br
    %input.btn.btn-inverse.pull-right.add_file_button{'href' => '#', 'type' => 'custom', 'value' => 'Add another file'}
  %hr
  .control-group
    %label.control-label{'for' => 'hypervisor'} Hypervisor
    .controls
      %select{'name' => 'hypervisor', 'id' => 'hypervisor_form'}
        %option{'value' => ""}
        - AppMarket::Appliance::FILE_SCHEMA[:properties]['hypervisor'][:enum].each do |elem|
          %option= elem
  .control-group
    %label.control-label{'for' => 'format'} Format
    .controls
      %select{'name' => 'format', 'id' => 'format_form'}
        %option{'value' => ""}
        - AppMarket::Appliance::FILE_SCHEMA[:properties]['format'][:enum].each do |elem|
          %option= elem
  %hr
  .control-group
    %label.control-label{'for' => 'os-id'} OS id
    .controls
      %input.input-xlarge{'name' => 'os-id', 'id' => 'os-id_form', 'type' => 'text'}
      %p Example: Ubuntu
  .control-group
    %label.control-label{'for' => 'os-release'} OS release
    .controls
      %input.input-xlarge{'name' => 'os-release', 'id' => 'os-release_form', 'type' => 'text'}
      %p Example: 12.04
  .control-group
    %label.control-label{'for' => 'os-arch'} OS arch
    .controls
      %input.input-xlarge{'name' => 'os-arch', 'id' => 'os-arch_form', 'type' => 'text'}
      %p Example: x86_64
  .control-group
    %label.control-label{'for' => 'opennebula_template_form'} OpenNebula Template
    .controls
      %textarea.input-xlarge{'name' => 'opennebula_template', 'id' => 'opennebula_template_form', 'rows' => '8'}
      %p
        The template must be defined in JSON
  - if @session.admin?
    Admin parameters
    %hr
    .control-group
      %label.control-label{'for' => 'logo'} Logo
      .controls
        %input.input-xlarge{'name' => 'logo','id' => 'logo_form', 'type' => 'text'}
    .control-group
      %label.control-label{'for' => 'catalog_form'} Catalog
      .controls
        %input.input-xlarge{'name' => 'catalog','id' => 'catalog_form', 'type' => 'text'}
    .control-group
      %label.control-label{'for' => 'publisher_form'} Publisher
      .controls
        %input.input-xlarge{'name' => 'publisher','id' => 'publisher_form', 'type' => 'text'}
%hr

